$black: #202020;
$white: #fff;
$grey: #4a4a4a;
$light-grey: #cacaca;
$pale-grey: #999;
$dark-black: #333;
$yellow: #fff500;
$background-grey: #E9E9E9;
$orange: #FF6E30;
$brown: #BC572B;
$active: #CE4307;


