@font-face {
  font-family: 'Gilroy';
  src: url("fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/TTFirsNeue-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.woff2");
  src: local("Roboto-Regular"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.woff2");
  src: local("Roboto-Bold"), format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.ymaps-2-1-79-copyrights-pane,
.ymaps-2-1-79-controls-pane {
  display: none;
}

.black {
  position: relative;
  background-color: #202020;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  max-width: 1320px;
  min-height: 80px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header__grid {
  display: -ms-grid;
  display: grid;
  min-height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3fr 7fr 2fr;
      grid-template-columns: 3fr 7fr 2fr;
  -ms-grid-rows: 2px 90px 18px;
      grid-template-rows: 2px 90px 18px;
}

.header__burger {
  display: none;
}

.header__burger-icon {
  display: none;
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__svg {
  display: none;
}

.header__nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  color: #fff;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header .navbar__item-link {
  color: #fff;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.header .navbar__item-link:hover {
  color: #FF6E30;
}

.header .navbar__item-link:focus {
  color: #fff;
  background-color: #BC572B;
}

.header .navbar__item-link:active {
  color: #CE4307;
}

.header__social {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 24px;
}

.header .social__item-link {
  color: #cacaca;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.header .social__item-link:hover {
  color: #FF6E30;
}

.header .social__item-link:active {
  color: #CE4307;
}

.header .social__item-link:focus {
  color: #BC572B;
}

.header .social__item:not(:last-child) {
  margin-right: 20px;
}

.header__grey {
  position: absolute;
  top: 83px;
  left: 0;
  right: 0;
  min-height: 41px;
  background-color: #4a4a4a;
  z-index: 2;
}

.header__tel {
  min-width: 200px;
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  color: #fff;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  z-index: 3;
}

.header__tel:hover {
  color: #FF6E30;
}

.header__tel:focus {
  color: #fff;
  background-color: #BC572B;
}

.header__tel:active {
  color: #CE4307;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__search-form {
  position: absolute;
  top: 24px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  z-index: 10;
  background-color: #202020;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.header__search-input {
  width: 38vw;
  margin-right: 10px;
}

.header__search-active {
  -webkit-transform: none;
          transform: none;
}

.header__input {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  min-width: 170px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.header__input:hover {
  border-color: #FF6E30;
}

.header__input:focus {
  outline: none;
  border-color: #BC572B;
}

.header__input:active {
  border-color: #CE4307;
}

@media (max-width: 768px) {
  .header__grid {
    -ms-grid-rows: 2px 103px 4px;
        grid-template-rows: 2px 103px 4px;
    -ms-grid-columns: 4fr 7fr 6fr;
        grid-template-columns: 4fr 7fr 6fr;
  }
  .header__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    grid-row: 3/3;
    z-index: 3;
  }
  .header__social {
    display: none;
  }
  .header__tel {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .header__svg {
    display: block;
    -ms-grid-column: 4;
    grid-column: 4/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header__search {
    display: none;
  }
  .header__search-input {
    background-color: #202020;
  }
}

@media (max-width: 576px) {
  .header__logo {
    grid-column: span 3;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 80px;
    height: 108vh;
    position: absolute;
    z-index: 10;
    padding: 10px 30px;
    width: 100%;
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #202020;
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
  }
  .header__burger-item {
    font-size: 18px;
    margin: 0 0 30px;
  }
  .header__burger-active {
    opacity: 1;
  }
  .header__burger-icon {
    display: block;
  }
  .header__burger-tel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__grid {
    -ms-grid-rows: 2px 98px 4px;
        grid-template-rows: 2px 98px 4px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .header__nav {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header__tel {
    font-size: 16px;
    grid-column: span 6;
    -ms-grid-row: 3;
    grid-row: 3/3;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .header__svg {
    width: 40px;
    -ms-grid-column: 6;
    grid-column: 6/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .header__search {
    display: none;
  }
  .header__search-input {
    width: 70vw;
  }
  .header__burger-icon {
    -ms-grid-row: 3;
    grid-row: 3/3;
    z-index: 3;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.workshop {
  max-width: 1320px;
  padding-top: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 12px 300px 297px;
      grid-template-rows: 12px 300px 297px;
  gap: 30px;
}

.workshop__img-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-image: url("images/workshop/img1.jpg");
  background-repeat: no-repeat;
}

.workshop__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin-top: -9px;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.workshop__content {
  padding: 20px 20px 99px 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workshop__content-title {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #fff;
}

.workshop__content-descr {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin: 0 0 17px;
  max-width: 430px;
  font-size: 36px;
  line-height: 38px;
  color: #fff;
}

.workshop__content-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 17px 20px;
  max-width: 160px;
  color: #fff;
  background: #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.workshop__content-btn:hover {
  background-color: #BC572B;
}

.workshop__content-btn:active {
  background-color: #CE4307;
}

.workshop__content-label {
  position: absolute;
  padding: 7px 10px;
  min-height: 13px;
  min-width: 40px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  top: 15px;
  right: 20px;
}

.workshop__img2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.workshop__img3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.workshop__img4 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media (max-width: 1024px) {
  .workshop {
    -ms-grid-rows: 30px 286px 296px;
        grid-template-rows: 30px 286px 296px;
  }
  .workshop__img-1 {
    background-image: url("./images/workshop/img1-1024.jpg");
  }
  .workshop__img3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .workshop__img4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .workshop__content {
    padding: 20px 70px 100px 30px;
  }
}

@media (max-width: 768px) {
  .workshop {
    -ms-grid-rows: 30px 208px 183px;
        grid-template-rows: 30px 208px 183px;
  }
  .workshop__content {
    padding: 20px 50px 60px 35px;
  }
  .workshop__content-descr {
    font-size: 26px;
    line-height: 26px;
  }
  .workshop__title {
    font-size: 22px;
  }
  .workshop__img-1 {
    background-image: url("./images/workshop/img1-768.jpg");
  }
}

@media (max-width: 576px) {
  .workshop__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 4;
    grid-row: 4/4;
  }
  .workshop__img-1 {
    grid-column: span 12;
    background-size: cover;
  }
  .workshop__img2 {
    grid-column: span 12;
    -ms-grid-row: 5;
    grid-row: 5/5;
  }
  .workshop__img3 {
    grid-column: span 6;
    -ms-grid-row: 6;
    grid-row: 6/6;
  }
  .workshop__img4 {
    grid-column: span 6;
    -ms-grid-row: 6;
    grid-row: 6/6;
  }
}

@media (max-width: 380px) {
  .workshop {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
  .workshop__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 4;
    grid-row: 4/4;
  }
  .workshop__img-1 {
    grid-column: span 10;
    background-size: cover;
  }
  .workshop__img2 {
    grid-column: span 10;
    -ms-grid-row: 5;
    grid-row: 5/5;
  }
  .workshop__img3 {
    grid-column: span 5;
    -ms-grid-row: 6;
    grid-row: 6/6;
  }
  .workshop__img4 {
    grid-column: span 5;
    -ms-grid-row: 6;
    grid-row: 6/6;
  }
}

.about-us {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 12px 208px 157px;
      grid-template-rows: 12px 208px 157px;
  gap: 30px;
}

.about-us__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 31px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  color: #fff;
}

.about-us__text {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 0;
  line-height: 1.8em;
  color: #cacaca;
}

.about-us__img {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about-us__form {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

.about-us__form-subscribe {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  margin: 0 0 8px;
  font-size: 24px;
  color: #fff;
}

.about-us__form-input {
  max-width: 473px;
  min-height: 50px;
  margin-right: 23px;
  padding-left: 22px;
  padding-right: 45%;
  font-size: 16px;
  background-color: #4a4a4a;
  color: #cacaca;
  border: 1px solid transparent;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.about-us__form-input:hover {
  color: #FF6E30;
}

.about-us__form-input:active {
  color: #fff;
}

.about-us__form-input:focus {
  border-color: #FF6E30;
  outline: #FF6E30;
}

.about-us__form-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  padding: 15px 15px;
  min-width: 130px;
  color: #fff;
  background: #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.about-us__form-btn:hover {
  background-color: #BC572B;
}

.about-us__form-btn:active {
  background-color: #CE4307;
}

@media (max-width: 1024px) {
  .about-us {
    -ms-grid-rows: 0px 315px 220px;
        grid-template-rows: 0px 315px 220px;
  }
}

@media (max-width: 768px) {
  .about-us {
    -ms-grid-rows: 0px 572px 180px;
        grid-template-rows: 0px 572px 180px;
  }
  .about-us__text {
    line-height: 1.7em;
  }
  .about-us__form-input {
    padding-right: 40%;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .about-us {
    display: block;
    padding-bottom: 40px;
  }
  .about-us__text {
    margin-bottom: 20px;
  }
  .about-us__img {
    margin-bottom: 20px;
  }
  .about-us__form {
    margin-top: 20px;
  }
  .about-us__form-input {
    margin: 20px 0;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .about-us {
    -ms-grid-rows: 0px 825px 187px 190px;
        grid-template-rows: 0px 825px 187px 190px;
  }
  .about-us__text {
    font-size: 16px;
    line-height: 25px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .about-us__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  .about-us__form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 4;
    grid-row: 4/4;
  }
}

.projects {
  position: relative;
  max-width: 1320px;
  margin: 0 auto 69px;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
  gap: 30px;
  margin-bottom: 53px;
}

.projects__title {
  margin: 0 auto;
  padding-top: 41px;
  padding-left: 15px;
  margin-bottom: 11px;
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
}

.projects__text-label {
  position: absolute;
  padding: 7px 10px;
  min-height: 13px;
  min-width: 40px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  top: 6px;
  right: 11px;
}

.projects__small-date {
  font-size: 12px;
  color: #999;
}

.projects__small-img {
  margin-bottom: 16px;
}

.projects__small-text {
  max-width: 200px;
  margin-bottom: 20px;
}

.projects__small1 {
  position: relative;
  grid-column: span 2;
}

.projects__small2 {
  position: relative;
  grid-column: span 2;
}

.projects__small3-1 {
  display: none;
  position: relative;
  grid-column: span 2;
}

.projects__small3 {
  position: relative;
  grid-column: span 2;
}

.projects__large-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 23px 306px 34px 30px;
  grid-column: span 6;
  background-image: url("./images/first-slider/large-1.jpg");
}

.projects__large-content {
  min-height: 180px;
}

.projects__large-title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.projects__large-text {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  color: #fff;
}

.projects__large-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.projects__large-btn:hover {
  background-color: #FF6E30;
}

.projects__large-btn:active {
  background-color: #CE4307;
}

.projects__large-btn:focus {
  background-color: #BC572B;
}

.projects__large-date {
  margin-bottom: 6px;
  color: #fff;
  font-size: 12px;
}

.projects__large-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 23px 306px 34px 30px;
  grid-column: span 6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("./images/first-slider/large-2.jpg");
}

.projects__large-btn {
  color: #fff;
}

.projects__medium-date {
  font-size: 12px;
  color: #999;
}

.projects__medium1 {
  position: relative;
  grid-column: span 3;
}

.projects__medium2 {
  position: relative;
  grid-column: span 3;
}

.projects__medium-text {
  margin-bottom: 20px;
}

.projects__medium-img {
  margin-bottom: 16px;
}

.projects__buttons {
  position: absolute !important;
  bottom: 0;
  right: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 28px;
}

.projects__button {
  padding: 7px 10px;
  margin-right: 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: #cacaca;
  cursor: pointer;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.projects__button:hover {
  color: #FF6E30;
  background-color: #E9E9E9;
}

.is-active {
  background-color: #FF6E30;
}

.second-slider {
  max-width: 1290px;
  margin: 0 auto 50px;
}

.second-slider__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
  grid-auto-flow: row;
  gap: 30px;
  margin-bottom: 53px;
}

.second-slider__title {
  margin: 0;
  padding-top: 41px;
  margin-bottom: 11px;
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
}

.second-slider__text-label {
  position: absolute;
  padding: 7px 10px;
  min-height: 13px;
  min-width: 40px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  top: 6px;
  right: 11px;
}

.second-slider__small-date {
  font-size: 12px;
  color: #999;
}

.second-slider__small-img {
  margin-bottom: 16px;
}

.second-slider__small-text {
  max-width: 200px;
  margin-bottom: 20px;
}

.second-slider__small1 {
  position: relative;
  grid-column: span 2;
}

.second-slider__small2 {
  position: relative;
  grid-column: span 2;
}

.second-slider__small3 {
  position: relative;
  grid-column: span 2;
}

.second-slider__large-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 23px 306px 34px 30px;
  grid-column: span 6;
  background-image: url("./images/second-slider/img1.jpg");
}

.second-slider__large-content {
  min-height: 180px;
}

.second-slider__large-title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.second-slider__large-text {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  color: #fff;
}

.second-slider__large-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.second-slider__large-btn:hover {
  background-color: #FF6E30;
}

.second-slider__large-btn:active {
  background-color: #CE4307;
}

.second-slider__large-btn:focus {
  background-color: #BC572B;
}

.second-slider__large-date {
  margin-bottom: 6px;
  color: #fff;
  font-size: 12px;
}

.second-slider__large-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 23px 306px 34px 30px;
  grid-column: span 6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("./images/second-slider/img2.jpg");
}

.second-slider__medium-date {
  font-size: 12px;
  color: #999;
}

.second-slider__medium1 {
  position: relative;
  grid-column: span 3;
}

.second-slider__medium2 {
  position: relative;
  grid-column: span 3;
}

.second-slider__medium-text {
  margin-bottom: 20px;
}

.second-slider__medium-img {
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .second-slider {
    padding-left: 20px;
  }
  .second-slider__large-1 {
    grid-column: span 8;
  }
  .second-slider__large-2 {
    grid-column: span 8;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .second-slider__small1 {
    display: none;
  }
  .second-slider__small2 {
    grid-column: span 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .second-slider__small3 {
    grid-column: span 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .second-slider__medium1 {
    grid-column: span 4;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .second-slider__medium2 {
    grid-column: span 4;
  }
}

@media (max-width: 768px) {
  .second-slider__container {
    -ms-grid-rows: (280px)[2];
        grid-template-rows: repeat(2, 280px);
    padding-right: 30px;
  }
  .second-slider__large-1 {
    grid-column: span 12;
    background-image: url("./images/second-slider/img1-768.jpg");
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .second-slider__large-2 {
    grid-column: span 12;
    background-image: url("./images/second-slider/img2-768.jpg");
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .second-slider__medium1 {
    grid-column: span 6;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .second-slider__medium2 {
    grid-column: span 6;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .second-slider__small1 {
    display: block;
    grid-column: span 4;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .second-slider__small2 {
    grid-column: span 4;
  }
  .second-slider__small3 {
    grid-column: span 4;
  }
  .second-slider__small3-1 {
    display: none;
  }
}

@media (max-width: 576px) {
  .second-slider__large-1 {
    padding-right: 200px;
  }
  .second-slider__large-text {
    padding-top: 5px;
  }
}

@media (max-width: 576px) {
  .second-slider__large-1, .second-slider__large-2 {
    padding: 20px 20px;
    grid-column: span 12;
  }
  .second-slider__medium1, .second-slider__medium2 {
    grid-column: span 6;
  }
  .second-slider__small1 {
    grid-column: span 4;
  }
  .second-slider__small2 {
    grid-column: span 4;
  }
  .second-slider__small3 {
    grid-column: span 4;
  }
}

@media (max-width: 320px) {
  .second-slider__container {
    -ms-grid-columns: (10px)[12];
        grid-template-columns: repeat(12, 10px);
  }
  .second-slider__large-1, .second-slider__large-2 {
    padding: 20px 20px;
    grid-column: span 8;
  }
  .second-slider__medium1, .second-slider__medium2 {
    grid-column: span 8;
  }
  .second-slider__small1 {
    grid-column: span 8;
  }
  .second-slider__small2 {
    grid-column: span 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .second-slider__small3 {
    grid-column: span 8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 1024px) {
  .projects__title {
    padding-left: 30px;
  }
  .projects__large-1 {
    grid-column: span 8;
  }
  .projects__large-2 {
    grid-column: span 8;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .projects__small1 {
    grid-column: span 3;
  }
  .projects__small2 {
    grid-column: span 3;
  }
  .projects__small3 {
    grid-column: span 3;
  }
  .projects__small3-1 {
    display: block;
    grid-column: span 3;
  }
  .projects__medium1 {
    grid-column: span 4;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .projects__medium2 {
    grid-column: span 4;
  }
  .projects__buttons {
    right: 40%;
  }
}

@media (max-width: 768px) {
  .projects__large-1 {
    padding: 20px 20px;
    grid-column: span 12;
    background-image: url("./images/first-slider/large-1-768.jpg");
  }
  .projects__large-2 {
    grid-column: span 12;
    background-image: url("./images/first-slider/large-2-768.jpg");
  }
  .projects__medium1, .projects__medium2 {
    grid-column: span 6;
  }
  .projects__small1, .projects__small2, .projects__small3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-column: span 4;
  }
  .projects__small3-1 {
    display: none;
  }
  .projects__buttons {
    top: 40px;
    bottom: 95%;
    right: 0;
  }
}

@media (max-width: 320px) {
  .projects {
    margin-bottom: 20px;
  }
  .projects__container {
    -ms-grid-columns: (10px)[12];
        grid-template-columns: repeat(12, 10px);
  }
  .projects__large-1, .projects__large-2 {
    padding: 20px 20px;
    grid-column: span 8;
  }
  .projects__medium1, .projects__medium2 {
    grid-column: span 8;
  }
  .projects__small1 {
    grid-column: span 8;
  }
  .projects__small2 {
    grid-column: span 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .projects__small3 {
    grid-column: span 8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .projects__button {
    margin-right: 13px;
  }
  .projects__buttons {
    right: 0;
    top: 40px;
    bottom: 97%;
    right: 0;
  }
}

.services {
  max-width: 1320px;
  margin: 0 auto 39px;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 32%;
      grid-template-columns: 65% 32%;
  -ms-grid-rows: 481px 373px;
      grid-template-rows: 481px 373px;
  gap: 36px;
}

.services__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin: -9px 0 13px;
}

.services__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__content-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (140px)[5];
      grid-template-rows: repeat(5, 140px);
  gap: 25px;
}

.services__content-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  gap: 30px;
}

.services__content-title {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  margin: 15px 0 6px;
  font-size: 24px;
  cursor: pointer;
}

.services__content-title:hover {
  color: #FF6E30;
}

.services__content-title:active {
  color: #CE4307;
}

.services__content-title:focus {
  color: #BC572B;
}

.services__content-text {
  margin: 0 0 20px;
  color: #999;
}

.services__content-link {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #FF6E30;
}

.services__content-link:hover {
  color: #FF6E30;
}

.services__content-link:active {
  color: #CE4307;
}

.services__content-link:focus {
  color: #BC572B;
}

.services__content-link::after {
  content: "";
  position: relative;
  top: 3px;
  left: 6px;
  display: inline-block;
  height: 14px;
  width: 19px;
  background-image: url("/images/arrow.svg");
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.services__content-link:hover:after {
  height: 14px;
  width: 27px;
  background-image: url("/images/arrow-h.svg");
}

.services__swipers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 22px;
  max-width: 600px;
}

.services__swiper:not(:last-child) {
  margin-right: 130px;
}

.services__swiper-link {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #666;
  border-bottom: 4px solid #cacaca;
}

.services__swiper-link:hover {
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  color: orange;
}

.services__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("./images/services/promo.jpg");
  background-repeat: no-repeat;
}

.services__promo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px 33px 30px;
}

.services__promo-title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin: 0;
  font-size: 36px;
  color: #fff500;
}

.services__promo-text {
  margin: 0;
  color: #fff500;
}

.services__promo-descr {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  margin: 6px 0 14px;
  max-width: 220px;
  color: #fff;
}

.services__promo-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 15px 20px;
  color: #fff;
  background-color: #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.services__promo-btn:hover {
  background-color: #BC572B;
}

.services__promo-btn:active {
  background-color: #CE4307;
}

.services__works {
  display: -ms-grid;
  display: grid;
  max-width: 410px;
  -ms-grid-columns: (8fr)[4];
      grid-template-columns: repeat(4, 8fr);
  -ms-grid-rows: (5fr)[4];
      grid-template-rows: repeat(4, 5fr);
  gap: 30px;
}

.services__works-block {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.services__works-title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  margin: 0 0 10px;
}

.retouch__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  margin: -9px 0 13px;
}

.retouch__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.retouch__content-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (140px)[5];
      grid-template-rows: repeat(5, 140px);
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 25px;
}

.retouch__content-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.retouch__content-title {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 6px;
  font-size: 24px;
}

.retouch__content-text {
  margin: 0 0 20px;
  color: #999;
}

.retouch__content-link {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
  color: #ff6e30;
}

.retouch__content-link::after {
  content: "";
  position: relative;
  top: 3px;
  left: 6px;
  display: inline-block;
  height: 14px;
  width: 19px;
  background-image: url("./images/arrow.svg");
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.retouch__content-link:hover:after {
  height: 14px;
  width: 27px;
  background-image: url("./images/arrow-h.svg");
}

@media (max-width: 1024px) {
  .retouch__content-list {
    -ms-grid-rows: (180px)[5];
        grid-template-rows: repeat(5, 180px);
  }
  .retouch__content-block {
    padding-left: 0;
  }
  .retouch__content-title {
    font-size: 14px;
  }
  .retouch__content-item {
    -ms-grid-columns: 320px;
        grid-template-columns: 320px;
  }
}

@media (max-width: 768px) {
  .retouch__content-list {
    margin-left: 5%;
  }
}

@media (max-width: 576px) {
  .retouch__content-item {
    -ms-grid-columns: 150px;
        grid-template-columns: 150px;
  }
  .retouch__content-list {
    padding-left: 20px;
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
  }
}

@media (max-width: 320px) {
  .retouch__content-item {
    -ms-grid-columns: 230px;
        grid-template-columns: 230px;
    -ms-grid-rows: 145px;
        grid-template-rows: 145px;
  }
  .retouch__content-list {
    padding-left: 20px;
    -ms-grid-columns: 260px;
        grid-template-columns: 260px;
    -ms-grid-rows: 208px;
        grid-template-rows: 208px;
    gap: 10px;
  }
}

.activen {
  color: #FF6E30;
  border-color: #FF6E30;
}

.border__bottom {
  top: 18px;
  left: 149px;
  position: absolute;
  display: inline-block;
  width: 133px;
  height: 4px;
  border-bottom: 4px solid #cacaca;
}

.swiper-button-lock {
  display: block !important;
}

@media (max-width: 1024px) {
  .services__container {
    -ms-grid-columns: 60% 36%;
        grid-template-columns: 60% 36%;
    -ms-grid-rows: 490px 573px;
        grid-template-rows: 490px 573px;
  }
  .services__swiper:not(:last-child) {
    margin-right: 13%;
  }
  .services__content-list {
    -ms-grid-rows: (180px)[5];
        grid-template-rows: repeat(5, 180px);
  }
  .services__works {
    -ms-grid-columns: (8fr)[3];
        grid-template-columns: repeat(3, 8fr);
  }
  .border__bottom {
    width: 80px;
  }
}

@media (max-width: 768px) {
  .services__container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 460px 673px;
        grid-template-rows: 460px 673px;
  }
  .services__promo {
    position: relative;
    background-image: url("./images/services/promo-768.jpeg");
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .services__promo-block {
    min-height: 350px;
  }
  .services__promo-svg {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .services__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .services__content-list {
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    -ms-grid-rows: 330px 360px 330px;
        grid-template-rows: 330px 360px 330px;
  }
  .services__content-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 140px;
        grid-template-rows: 140px;
  }
  .services__works {
    max-width: none;
    -ms-grid-columns: (97px)[6];
        grid-template-columns: repeat(6, 97px);
    -ms-grid-rows: (8fr)[3];
        grid-template-rows: repeat(3, 8fr);
  }
  .services__works-block {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media (max-width: 576px) {
  .services__container {
    -ms-grid-rows: 57% 0% 15%;
        grid-template-rows: 57% 0% 15%;
  }
  .services__content-item {
    -ms-grid-rows: 93px;
        grid-template-rows: 93px;
  }
  .services__content-list {
    -ms-grid-rows: 30% 30% 30%;
        grid-template-rows: 30% 30% 30%;
    -ms-grid-columns: 47% 47%;
        grid-template-columns: 47% 47%;
  }
  .services__works {
    max-width: none;
    -ms-grid-columns: (113px)[4];
        grid-template-columns: repeat(4, 113px);
    -ms-grid-rows: (8fr)[3];
        grid-template-rows: repeat(3, 8fr);
    gap: 15px;
  }
  .border__bottom {
    top: 19px;
    left: 140px;
    width: 30px;
  }
}

@media (max-width: 576px) {
  .services__swiper:not(:last-child) {
    margin-right: 5%;
  }
  .services__works {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
  }
}

@media (max-width: 320px) {
  .services__swiper:not(:last-child) {
    margin-right: 10px;
    font-size: 13px;
  }
  .services__content-item {
    -ms-grid-columns: 287px;
        grid-template-columns: 287px;
    -ms-grid-rows: 130px;
        grid-template-rows: 130px;
  }
  .services__content-list {
    -ms-grid-rows: 350px 330px 360px;
        grid-template-rows: 350px 330px 360px;
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
  .services__promo {
    background-image: url("./images/services/promo.jpg");
    background-size: cover;
  }
  .services__promo-block {
    padding-left: 15px;
  }
  .services__promo-title {
    font-size: 30px;
  }
  .services__promo-svg {
    right: 0px;
  }
  .services__works {
    max-width: none;
    -ms-grid-columns: (148px)[2];
        grid-template-columns: repeat(2, 148px);
    -ms-grid-rows: (8fr)[3];
        grid-template-rows: repeat(3, 8fr);
    gap: 15px;
  }
  .border__bottom {
    width: 20px;
    left: 117px;
    top: 14px;
  }
}

.master {
  max-width: 1320px;
  margin: 0 auto;
}

.master__title {
  margin: 0 0 16px;
  padding-top: 40px;
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.master__img {
  background-image: url("./images/master/master.jpg");
  background-repeat: no-repeat;
}

.master__content {
  display: -ms-grid;
  display: grid;
  min-height: 400px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 37px;
  color: #fff;
}

.master__block {
  max-height: 311px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.master__block-date {
  margin-right: 12px;
}

.master__block-info {
  margin-bottom: 4px;
  font-size: 12px;
}

.master__block-title {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.master__block-text {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #cacaca;
}

.master__block-btn {
  color: #fff;
}

.master__articles-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (60px)[4];
      grid-template-rows: repeat(4, 60px);
  margin: 4px 0 0 -5px;
  gap: 30px;
}

.master__articles-content {
  padding: 12px 0 0 15px;
}

.master__articles-date {
  margin-right: 15px;
  font-size: 12px;
}

.master__articles-time {
  font-size: 12px;
}

.master__articles-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.master__articles-title {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media (max-width: 1024px) {
  .master__content {
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
    -ms-grid-rows: 350px 200px;
        grid-template-rows: 350px 200px;
  }
  .master__articles-list {
    -ms-grid-columns: (100%)[2];
        grid-template-columns: repeat(2, 100%);
  }
  .master__img {
    background-image: url("./images/master/master-1024.jpg");
  }
}

@media (max-width: 768px) {
  .master__content {
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    -ms-grid-rows: 350px 200px;
        grid-template-rows: 350px 200px;
  }
  .master__block {
    padding-right: 20px;
  }
  .master__img {
    background-image: url("./images/master/master-1024.jpg");
  }
}

@media (max-width: 576px) {
  .master__content {
    -ms-grid-rows: 350px 300px 400px;
        grid-template-rows: 350px 300px 400px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .master__block {
    padding-top: 0;
  }
  .master__img {
    background-position-x: -120px;
    background-size: cover;
  }
  .master__articles-content {
    padding-top: 0;
  }
  .master__articles-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 320px) {
  .master__block {
    padding-top: 0;
  }
  .master__img {
    background-position-x: -120px;
    background-size: cover;
  }
  .master__articles-content {
    padding-top: 0;
  }
  .master__articles-list {
    -ms-grid-columns: 255px;
        grid-template-columns: 255px;
  }
}

.contacts {
  padding-top: 28px;
}

.contacts__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
}

.contacts__container {
  max-width: 1320px;
  margin: 0px auto 76px;
}

.contacts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 31%;
      grid-template-columns: 66% 31%;
  -ms-grid-rows: 460px;
      grid-template-rows: 460px;
  gap: 30px;
}

.contacts__map {
  max-width: 100%;
  position: relative;
}

.contacts__map-close {
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
}

.contacts__map-info {
  max-width: 409px;
  padding: 173px 55px 20px 60px;
  position: absolute;
  top: 0px;
  bottom: 0;
  color: #fff;
  background: rgba(32, 32, 32, 0.85);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contacts__map-title {
  margin: 0 0 4px;
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  font-size: 24px;
  cursor: pointer;
}

.contacts__map-title:hover:hover {
  color: #FF6E30;
}

.contacts__map-title:hover:active {
  color: #CE4307;
}

.contacts__map-title:hover:focus {
  color: #BC572B;
}

.contacts__map-text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: #cacaca;
}

.contacts__map-tel {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__info-title {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  margin: -5px 0 5px;
  font-size: 24px;
}

.contacts__info-text {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 15px;
  color: #999;
  line-height: 22px;
}

.contacts__info-name, .contacts__info-mail {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  min-height: 50px;
  max-width: 410px;
  width: 100%;
  padding: 15px 10px 15px 25px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #999;
  background-color: #E9E9E9;
  border: 1px solid transparent;
}

.contacts__info-name:hover, .contacts__info-mail:hover {
  color: #FF6E30;
}

.contacts__info-name:active, .contacts__info-mail:active {
  color: #fff;
}

.contacts__info-name:focus, .contacts__info-mail:focus {
  border-color: #FF6E30;
  outline: #FF6E30;
}

.contacts__info-comment {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  min-height: 150px;
  width: 100%;
  max-width: 410px;
  padding: 15px 23px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #999;
  background-color: #E9E9E9;
  border: 1px solid transparent;
  resize: none;
}

.contacts__info-comment:hover {
  color: #FF6E30;
}

.contacts__info-comment:active {
  color: #fff;
}

.contacts__info-comment:focus {
  border-color: #FF6E30;
  outline: #FF6E30;
}

.contacts__info-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 15px 20px;
  color: #fff;
  background-color: #ff6e30;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.contacts__info-btn:hover {
  background-color: #BC572B;
}

.contacts__info-btn:active {
  background-color: #CE4307;
}

.contacts__form {
  max-width: 500px;
}

.min {
  max-width: 210px;
  padding: 91px 10px 20px 10px;
}

@media (max-width: 1024px) {
  .contacts__content {
    -ms-grid-columns: 60% 37%;
        grid-template-columns: 60% 37%;
  }
  .contacts__map-info {
    top: auto;
    padding: 20px;
    max-width: 100%;
  }
  .contacts__map-text {
    padding-right: 200px;
  }
  .min {
    opacity: 0.15;
  }
}

@media (max-width: 768px) {
  .contacts__content {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .contacts__info-text {
    max-width: 450px;
  }
}

@media (max-width: 576px) {
  .contacts__map-text {
    padding-right: 50px;
  }
}

@media (max-width: 320px) {
  .contacts__map-text {
    padding-right: 20px;
  }
  .contacts__info-name, .contacts__info-mail {
    padding-right: 10px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1320px;
  min-height: 106px;
  margin: 0 auto;
}

.footer__left {
  padding-bottom: 10px;
}

.footer__left-text {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  margin: 0 0 0 -12px;
}

.footer__center-title {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  color: #cacaca;
}

.footer__center-author {
  color: #4a4a4a;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18px;
}

.footer__right-text {
  margin-bottom: -3px;
  color: #cacaca;
}

.footer__right-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right-item {
  margin-right: 10px;
  margin-left: 13px;
  color: #cacaca;
}

.footer__right-link {
  color: #cacaca;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.footer__right-link:hover {
  color: #FF6E30;
}

.footer__right-link:active {
  color: #CE4307;
}

.footer__right-link:focus {
  color: #BC572B;
}

@media (max-width: 768px) {
  .footer__center {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__left {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */
